/* footer */
footer {
    background-color: #464547;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    max-width: 1250px;
}

footer .container {
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

footer .container p:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .container p:last-of-type {
    display: flex;
    align-items: end;
}

footer p {
    color: rgba(255, 255, 255, .4);
    height: 100%;
}

footer .logo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
    text-decoration: none;
}

footer .logo img {
    margin-right: 10px;
}


@media only screen and (max-width: 768px) {
    footer .container {
        grid-template-columns: 1fr;
        place-items: center;
        text-align: center;
        gap: 10px;
    }
}