/* hero */
.hero {
    background-image: linear-gradient(rgba(95, 55, 30, 0.2), rgba(82, 49, 29, 0.3)), url("../assets/hero.png");
    background-repeat: no-repeat;
    background-position: right;
    width: auto;
    height: 800px;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
}

.hero .container {
    text-align: center;
    margin: 0 auto 6.25em;
    padding-top: 80px;
}

.hero .container h1 {
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero .container h2 {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.5em;
}


.hero .shinning-stars {
    position: absolute;
    height: 700px;
    margin: auto;
    right: -16px;
    bottom: 50px;
    animation: shine 4s linear infinite;
}

.hero .stars {
    position: absolute;
    width: 750px;
    height: auto;
    right: 40px;
    bottom: 135px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: expand 2s linear infinite alternate;
}

@media only screen and (max-width: 768px) {
    .hero .shinning-stars {
        margin: auto;
        width: 470px;
        height: auto;
        right: -15px;
        bottom: 60px;
    }
}

@keyframes shine {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes expand {
    from {
        transform: translateX(0) translateY(0);

    }

    to {
        transform: translateX(-25px) translateY(25px);
    }
}